@import url("https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  height: 113px;
  width: 100%;
  margin-bottom: 90px;

  div.name_logo {
    display: flex;
    align-items: center;
    gap: 10px;
    h1 {
      font-family: "Volkhov", serif;
    }
  }

  nav {
    ul.desktop_navigation {
      display: none;
      gap: 32px;
    }
    ul.mobile_navigation {
      display: none;
      position: absolute;
      background-color: white;
    }
    img.burger_img:hover ~ ul.mobile_navigation {
      display: block;
    }
    ul {
      list-style: none;
      a {
        text-decoration: none;
        color: #222222;
      }
    }
  }
}

button.sign_up {
  display: none;
  width: 160px;
  height: 49.7px;
  background-color: #002699;
  border-radius: 5px;
  color: white;
  border: none;
}
button.show_btn {
  display: block;
}

.first {
  div.rent_article {
    padding: 0 30px;
    margin-bottom: 144px;
    h2 {
      font-size: 64px;
      font-weight: 700;
      font-family: "Volkhov", serif;
      color: #222222;
      width: 340px;
      margin-bottom: 32px;
    }
    p.first_paragraph {
      font-weight: 400;
      font-size: 20px;
      line-height: 40px;
      color: #666666;
      margin-bottom: 48px;
      width: 324px;
    }
  }
  .main_image {
    max-width: 700px;
    img {
      width: 100%;
    }
  }
}

/* responsive */

@media screen and (min-width: 1150px) {
  header {
    nav {
      img.burger_img {
        display: none;
      }
      ul.desktop_navigation {
        display: flex;
      }
    }
    button.sign_up {
      display: block;
    }
  }
  .first {
    display: flex;
    gap: 111px;
    justify-content: center;
    margin-bottom: 137px;
    div.rent_article {
      h2 {
        width: 536px;
        margin-bottom: 20px;
      }
      p.first_paragraph {
        margin-bottom: 108.7px;
        width: 497px;
      }
    }
    .main_image {
      img {
        width: 502px;
        height: 502px;
      }
    }
  }
}
